<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="param">
            <h2><span jhiTranslate="reportApp.param.detail.title">Param</span> {{param.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="reportApp.param.name">Name</span></dt>
                <dd>
                    <span>{{param.name}}</span>
                </dd>
                <dt><span jhiTranslate="reportApp.param.value">Value</span></dt>
                <dd>
                    <span>{{param.value}}</span>
                </dd>
                <dt><span jhiTranslate="reportApp.param.reportParam">Report Param</span></dt>
                <dd>
                    <div *ngIf="param.reportParam">
                        <a [routerLink]="['/report', param.reportParam?.id, 'view']">{{param.reportParam?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/param', param.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
